		<div id="container"></div>
		<%= render "templates/pages/index"%>
		<%= render "templates/pages/guild"%>
        <%= render "templates/login"%>
        <%= render "templates/navbar"%>
<script type="text/html" id="profileTemplate">
        <%= render "templates/profileIcon"%>
</script>
        <%= render "templates/modal"%>
        <%= render "templates/forms/profile"%>
        <%= render "templates/notFound"%>
        <%= render "templates/message"%>
        <%= render "templates/chat"%>



