		<div id="container"></div>
		<%= render "templates/pages/index"%>
		<%= render "templates/pages/guild"%>
		<%= render "templates/pages/guildIndex"%>
        <%= render "templates/login"%>
        <%= render "templates/navbar"%>
<script type="text/html" id="profileTemplate">
        <%= render "templates/profileIcon"%>
</script>
        <%= render "templates/modal"%>
        <%= render "templates/forms/profile"%>
        <%= render "templates/notFound"%>
        <%= render "templates/chat/message"%>
        <%= render "templates/chat/messages"%>
        <%= render "templates/chat/chat"%>
        <%= render "templates/chat/input"%>
        <%= render "templates/chat/tabs"%>
        <%= render "templates/chat/tab"%>
        <%= render "templates/chat/addTab"%>
		<%= render "templates/chat/createChannel"%>
		<%= render "templates/guild/info"%>
		<%= render "templates/guild/members"%>
		<%= render "templates/guild/board"%>
		<%= render "templates/guild/item"%>



