		<div class="relative h-full" id="container"></div>
		<%= render "templates/pages/index"%>
		<%= render "templates/pages/guild"%>
		<%= render "templates/pages/guildIndex"%>
		<%= render "templates/pages/notifPage"%>
		<%= render "templates/pages/userPage"%>
		<%= render "templates/pages/warHistory"%>
        <%= render "templates/login"%>
		<%= render "templates/navbar"%>
		<%= render "templates/notifications/notifications"%>
<script type="text/html" id="profileTemplate">
        <%= render "templates/profileIcon"%>
</script>
        <%= render "templates/modal"%>
        <%= render "templates/forms/profile"%>
        <%= render "templates/pages/notFound"%>
		<%= render "templates/guild/info"%>
		<%= render "templates/guild/members"%>
		<%= render "templates/guild/member"%>
		<%= render "templates/guild/board"%>
		<%= render "templates/guild/item"%>
		<%= render "templates/guild/pending"%>
		<%= render "templates/guild/pendingMember"%>
		<%= render "templates/forms/guild"%>
		<%= render "templates/forms/war"%>
		<%= render "templates/forms/guildEdit"%>
		<%= render "templates/guild/img/itemImg"%>
		<%= render "templates/guild/img/itemNoImg"%>
		<%= render "templates/guild/img/pageImg"%>
		<%= render "templates/guild/img/pageNoImg"%>
		<%= render "templates/pages/games"%>
		<%= render "templates/forms/game"%>
		<%= render "templates/guild/noGuild"%>
		<%= render "templates/guild/withGuild"%>
		<%= render "templates/guild/withPendingGuild"%>
		<%= render "templates/guild/manageMember"%>
		<%= render "templates/notifications/notification"%>
		<%= render "templates/chat/chat"%>
		<%= render "templates/chat/room"%>
		<%= render "templates/chat/createJoinChannel"%>
		<%= render "templates/chat/message"%>
		<%= render "templates/chat/input"%>
		<%= render "templates/pages/warIndex"%>
		<%= render "templates/chat/header/header"%>
		<%= render "templates/chat/header/manageRoom"%>
		<%= render "templates/chat/header/roomUser"%>
		<%= render "templates/chat/roomUserProfile"%>
		<%= render "templates/wars/boardWars"%>
		<%= render "templates/wars/itemWar"%>
		<%= render "templates/wars/myWar"%>
		<%= render "templates/wars/confirmed"%>
		<%= render "templates/wars/pending"%>
		<%= render "templates/wars/noWar"%>
		<%= render "templates/wars/pendingItem"%>
		<%= render "templates/wars/waiting"%>
		<%= render "templates/wars/timetable"%>
		<%= render "templates/wars/book"%>
		<%= render "templates/forms/warNego"%>
		<%= render "templates/forms/warTime"%>
		<%= render "templates/chat/roomsList"%>
		<%= render "templates/chat/joinPublicChannel"%>
		<%= render "templates/tfa"%>



