        <div id="container"></div>
        <%= render "templates/login"%>
        <%= render "templates/navbar"%>
        <%= render "templates/profileIcon"%>
        <%= render "templates/modal"%>
        <%= render "templates/forms/profile"%>



